body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: MediumSpringGreen;
}
.content {
  background-color: white;
  width: 70%;
  border: 2px solid white;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-ttl {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
p {
  text-align: center;
  padding-bottom: 5px;
}
.f-search {
  display: flex;
  justify-content:space-evenly;
  margin: 5px;
}
.frame {
  width: 50%;
  border: 1px solid LimeGreen;
}
.search-btn {
  border: 1px solid MediumSpringGreen;
  color: MediumSeaGreen;
  padding: 8px 25px;
  border-radius: 10px;
}
.search-btn:hover {
  background-color: MediumSpringGreen;
  color: white;
}
table {
  margin: 20px auto;
  width: 80%;
}
table th {
  padding: 10px;
}
table td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px dashed LightSlateGray;
}
a {
  text-decoration: none;
}
.back-home {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
.home-btn {
  border: 1px solid Magenta;
  color: Magenta;
  padding: 8px 25px;
  border-radius: 10px;
}
.home-btn:hover {
  background-color: Magenta;
  color: white;
}